<div id="dashboard" class="container-fluid" ng-init="app.settings.asideFolded = true; ">
	<div class="row">
		<div class="col-lg-8 containBox">
			<div class="col-lg-12">
				<div class="col-lg-6">
					<div class="contentBox">
						<p class="title">观测预警</p>
						<ul>
							<li class="station">测站58622，风速报警，近1小时的风速为13.5m/s,设定阈值是10m/s，已达到准备停止作业标准。</li>
							<li class="station">测站58622，风速报警，近1小时的风速为13.5m/s,设定阈值是10m/s，已达到准备停止作业标准。</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contentBox">
						<p class="title">观测预警</p>
						<ul>
							<li class="station">区域1，风速报警，近1小时的风速为13.5m/s,设定阈值是10m/s，已达到准备停止作业标准。</li>
							<li class="station">区域3，风速报警，近1小时的风速为13.5m/s,设定阈值是10m/s，已达到准备停止作业标准。</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-6">
					<div class="contentBox">
						<p class="title">预警信号</p>
						<p class="noData">无预警信号</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contentBox">
						<p class="title">操作记录</p>
						<ul>
							<li class="station">2017.04.06 16:00 对未来气温进行精细化订正。</li>
							<li class="station">2017.04.06 16:40 制作并发布天气预报。</li>
							<li class="station">2017.04.06 17:20 制作专题服务产品。</li>
							<li class="station">2017.04.06 17:30 并发布专题服务产品。</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-6">
					<div class="contentBox">
						<p class="title">短临预报</p>
						<p class="paragraph">
							2017年4月01日7时50分发布的短时临近预报:过去三小时阴天有时有小阵雨；目前气温16-18度，主城区17.1度。预计8-11时全市阴天，偶有小雨；气温16-20度，主城区17-19度。
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contentBox">
						<p class="title">短期预报</p>
						<p class="paragraph">
							2017年4月21日9时10分发布的市区天气预报：今天上午阴有时有小雨转阴，中午起阴到多云；明天多云到晴；后天晴到多云。今天西北风4级阵风5-6级。今天白天最高气温23度，明天白天最高气温20度，明天早晨最低气温12度。今天平均相对湿度70%。						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 containBox">
			<div class="col-lg-12 handover  ">
				<div class="handoverBox">
					<div class="titleBar">
						<span>值班人</span>&nbsp;|&nbsp;
						<span>刘氏清心</span>
					</div>
					<div class="message">
						<div class="shiftingOfDuty">
							<span>交班</span>&nbsp;&nbsp;&nbsp;
							<span>接班</span>
						</div>
						<div class="personnel">
							<div class="personnelChoose">
								<span>接班人员选择：</span>
								<select name="" id="">
									<option value="1" selected>人员1</option>
									<option value="2">人员2</option>
									<option value="3">人员3</option>
									<option value="4">人员4</option>
								</select>
							</div>
							<div class="personnelChoose">
								<span>密码校验：</span>
								<input type="text">
							</div>
						</div>
						<div class="leaveWord">
							<p class="textTitle">交班留言：</p>
							<textarea></textarea>
						</div>
						<div class="leaveWord">
							<p class="textTitle">重要信息告示：</p>
							<textarea></textarea>
						</div>
						<div class="buttonBox">
							<span class="button">确认</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 handover  ">
				<div class="happening">
					<div class="titleBar">
						<span>宁波站实况</span>
					</div>
					<table>
						<thead>
							<tr>
								<td colspan="2">20日实况</td>
								<td colspan="2">19时20分实况</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td width="20%">最高温</td>
								<td width="30%">22°C</td>
								<td width="20%">气温</td>
								<td width="30%">22°C</td>
							</tr>
							<tr>
								<td width="20%">最高温</td>
								<td width="30%">22°C</td>
								<td width="20%">气温</td>
								<td width="30%">22°C</td>
							</tr>
							<tr>
								<td width="20%">最高温</td>
								<td width="30%">22°C</td>
								<td width="20%">气温</td>
								<td width="30%">22°C</td>
							</tr>
							<tr>
								<td width="20%">最高温</td>
								<td width="30%">22°C</td>
								<td width="20%">气温</td>
								<td width="30%">22°C</td>
							</tr>
							<tr>
								<td width="20%">最高温</td>
								<td width="30%">22°C</td>
								<td width="20%">气温</td>
								<td width="30%">22°C</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>